{% extends 'base.html' %}
{% block title %} | Home {% endblock %}

{% block content %}
{% load static %}
<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-1.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Wow Factor Standard</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream car.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-2.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Explore Your Dream Car</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream car.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-3.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>We Are Wheel</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream car.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
        </div>
        <!-- Search box 3 start -->
        <div class="search-box-4 sb-8">
            <form action="{% url 'search' %}" method="">
                <div class="form-group">
                    <input type="text" name="keyword" placeholder="Search players" class="form-control">
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="position">
                        <option selected="true" disabled="disabled">Position</option>
                        {% for position in position_options %}
                            <option value="{{position}}">{{position}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="team">
                        <option selected="true" disabled="disabled">Team</option>
                        {% for team in team_options %}
                            <option value="{{team}}">{{team}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="is_retire">
                        <option selected="true" disabled="disabled">Retired</option>
                        {% for is_retired in is_retire_options %}
                            <option value="{{is_retired}}">{{is_retired}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="range-slider clearfix">
                    <label>Debut Year</label>
                    <div data-min="2013" data-max="2023" data-min-name="min_year" data-max-name="max_year" data-unit="" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <button class="btn btn-block button-theme btn-md">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </form>
        </div>
        <!-- Search box 3 end -->
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- Featured car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Retired <span>Players</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for rp in retired_players %}
                    <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="{% url 'player_detail' rp.id %}" class="car-img">
                                <div class="tag-2">Retired</div>
                                <div class="price-box">
                                    <span>{{rp.name}}</span>
                                </div>
                                <img class="d-block w-100" src="{{rp.photo1.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{{rp.photo1.url}}" class="overlap-btn">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{{rp.photo1.url}}">
                                            </a>
                                            {% if rp.photo2 %}
                                            <a href="{{rp.photo2.url}}" class="hidden">
                                                <img class="hidden" src="{{rp.photo2.url}}">
                                            </a>
                                            {% endif %}
                                            {% if rp.photo3 %}
                                            <a href="{{rp.photo3.url}}" class="hidden">
                                                <img class="hidden" src="{{rp.photo3.url}}">
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'player_detail' rp.id %}">{{rp.game_id}}</a>
                            </h1>
                            <div class="location">
                                <a href="{% url 'player_detail' rp.id %}">
                                    {{rp.position}}
<!--                                    <i class="flaticon-pin"></i>{{rp.position}}-->
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                {% for t in rp.team %}
                                    <li>{{ t }}</li>
                                {% endfor %}
                                <li>{{rp.first_show_year}}</li>
                                {% for h in rp.honor %}
                                    <li>{{ h }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- Rent car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Active <span>Players</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for ap in active_players %}
                <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'player_detail' ap.id %}" class="car-img">

                            <img class="d-block w-100" src="{{ap.photo1.url}}" alt="car" style="min-height: 350px; max-height: 350px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        {{ap.position}}
                                    </li>
                                    <li>
                                        {{ap.first_show_year}}
<!--                                        <span><i class="flaticon-calendar-1"></i></span>{{ap.first_show_year}}-->
                                    </li>
                                    <li>
                                        {{ap.name}}
<!--                                        <span><i class="flaticon-manual-transmission"></i></span>{{ap.name}}-->
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{ap.photo1.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{ap.photo1.url}}">
                                        </a>
                                        {% if ap.photo2 %}
                                        <a href="{{ap.photo2.url}}" class="hidden">
                                            <img class="hidden" src="{{ap.photo2.url}}">
                                        </a>
                                        {% endif %}
                                        {% if ap.photo3 %}
                                        <a href="{{ap.photo3.url}}" class="hidden">
                                            <img class="hidden" src="{{ap.photo3.url}}">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'player_detail' ap.id %}">{{ap.game_id}}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'player_detail' ap.id %}">
                                {{ap.honor}}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            {% for t in ap.team %}
                                <p class="cartype">{{t}}</p>
                            {% endfor %}
                        </div>
<!--                        <div class="pull-right">-->
<!--                            <p class="price">{{ap.position}}</p>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Rent car end -->


<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Develop <span>Team</span></h1>
            <p>This website is develped by Yumeng Huang</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for member in members %}
                    <div class="slick-slide-item">
                        <div class="team-1">
                            <div class="photo">
                                <a href="#">
                                    <img src="{{ member.photo.url }}" alt="team-1" class="img-fluid" width=500 height=500>
                                </a>
                                <div class="social-list clearfix">
                                    <a href="{{ member.linkedin_link }}" target="_blank" class="linkedin-bg"><i class="fa fa-linkedin"></i></a>
                                    <a href="{{ member.github_link }}" target="_blank" class="github-bg"><i class="fa fa-github"></i></a>
                                </div>
                            </div>
                            <div class="details">
                                <h4><a href="team-detail.html">{{member.first_name}} {{member.last_name}}</a></h4>
                                <h5>{{member.description }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{% url 'contact' %}" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->

<!--footer-->

<!-- Car Overview Modal -->
<div class="car-model-2">
    <div class="modal fade" id="carOverviewModal" tabindex="-1" role="dialog" aria-labelledby="carOverviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="carOverviewModalLabel">
                        <h4>Explore Your Dream Car</h4>
                        <h5><i class="flaticon-pin"></i> 123 Kathal St. Tampa City,</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row modal-raw">
                        <div class="col-lg-6 modal-left">
                            <div class="item active">
                                <img src="{% static 'img/car-13.jpg' %}" alt="best-car" class="img-fluid modalLabel-1">
                                <img src="{% static 'img/car-14.jpg' %}" alt="best-car" class="img-fluid modalLabel-2">
                                <div class="sobuz">
                                    <div class="price-box" style="padding-bottom: 5px;">
                                        <span class="del-2">$1050.00</span>
                                    </div>
                                    <div class="">
                                        <a href="car-details.html" class="btn btn-md btn-round btn-theme">Convertible</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 modal-right">
                            <div class="modal-right-content">
                                <section>
                                    <h3>Features</h3>
                                    <div class="features">
                                        <ul class="bullets">
                                            <li>Cruise Control</li>
                                            <li>Airbags</li>
                                            <li>Air Conditioning</li>
                                            <li>Alarm System</li>
                                            <li>Audio Interface</li>
                                            <li>CDR Audio</li>
                                            <li>Seat Heating</li>
                                            <li>ParkAssist</li>
                                        </ul>
                                    </div>
                                </section>
                                <section>
                                    <h3>Overview</h3>
                                    <ul class="bullets">
                                        <li>Model</li>
                                        <li>Year</li>
                                        <li>Condition</li>
                                        <li>Price</li>
                                        <li>Audi</li>
                                        <li>2020</li>
                                        <li>Brand New</li>
                                        <li>$178,000</li>
                                    </ul>
                                </section>
                                <div class="description">
                                    <h3>Description</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                                    <a href="car-details.html" class="btn btn-md btn-round btn-theme">Show Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
