{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Players</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Players</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">

                <div class="row">
                    {% for player in players %}
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="{% url 'player_detail' player.id %}" class="car-img">
                                    {% if player.is_retire %}
                                    <div class="tag">Retired</div>
                                    {% endif %}
                                    <div class="price-box">
                                        <span>{{player.name}}</span>
                                    </div>
                                    <img class="d-block w-100" src="{{player.photo1.url}}" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="{{player.photo1.url}}" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{player.photo1.url}}">
                                                </a>
                                                {% if player.photo2 %}
                                                <a href="{{player.photo2.url}}" class="hidden" >
                                                    <img class="hidden" src="{{player.photo2.url}}">
                                                </a>
                                                {% endif %}
                                                {% if player.photo3 %}
                                                <a href="{{player.photo3.url}}" class="hidden" >
                                                    <img class="hidden" src="{{player.photo3.url}}">
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'player_detail' player.id %}">{{player.game_id}}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'player_detail' player.id %}">
                                        {{player.position}}
<!--                                        <i class="flaticon-pin"></i>123 Kathal St. Tampa City,-->
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    {% for h in player.honor %}
                                        <li>{{h}}</li>
                                    {% endfor %}
                                    {% for t in player.team %}
                                        <li>{{t}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                        {% if players.has_other_pages %}
                        <ul class="pagination">
                            {% if players.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{players.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
                            </li>
                            {% endif %}
                            {% for i in players.paginator.page_range %}
                                {% if players.number == i %}
                                    <li class="page-item"><a class="page-link active" href="?page={{i}}">{{i}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if players.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{players.next_page_number}}"><i class="fa fa-angle-right"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Search your desire car</h3>
                        <form action="{% url 'search' %}" method="">
                            <div class="form-group">
                                <input type="text" name="keyword" placeholder="Search players" class="form-control">
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="position">
                                    <option selected="true" disabled="disabled">Position</option>
                                    {% for position in position_options %}
                                        <option value="{{position}}">{{position}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="team">
                                    <option selected="true" disabled="disabled">Team</option>
                                    {% for team in team_options %}
                                        <option value="{{team}}">{{team}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="is_retire">
                                    <option selected="true" disabled="disabled">Retired</option>
                                    {% for is_retired in is_retire_options %}
                                        <option value="{{is_retired}}">{{is_retired}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="range-slider clearfix">
                                <label>Debut Year</label>
                                <div data-min="2013" data-max="2023" data-min-name="min_year" data-max-name="max_year" data-unit="" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- Question start -->
                    <div class="widget question widget-3">
                        <h5 class="sidebar-title">Follow us</h5>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

{% endblock %}