{% extends 'base.html' %}
{% block title %} | Search {% endblock %}

{% block content %}
{% load static %}
<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 3 start -->
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form method="GET">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="position">
                                    <option disabled="disabled" selected="selected">Select Position</option>
                                    {% for position in position_options %}
                                        <option value="{{position}}">{{position}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="team">
                                    <option disabled="disabled" selected="selected">Select Team</option>
                                     {% for team in team_options %}
                                        <option value="{{team}}">{{team}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="is_retire">
                                    <option disabled="disabled" selected="selected">Select Is Retired</option>
                                    {% for is_retired in is_retire_options %}
                                        <option value="{{is_retired}}">{{is_retired}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="2013" data-max="2023" data-min-name="min_year" data-max-name="max_year" data-unit="" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's <span>Players</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for player in players %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'player_detail' player.id %}" class="car-img">

                            <img class="d-block w-100" src="{{player.photo1.url}}" alt="car" style="min-height: 350px; max-height: 350px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        {{player.position}}
                                    </li>
                                    <li>
                                        {{player.first_show_year}}
<!--                                        <span><i class="flaticon-calendar-1"></i></span>{{ap.first_show_year}}-->
                                    </li>
                                    <li>
                                        {{player.name}}
<!--                                        <span><i class="flaticon-manual-transmission"></i></span>{{ap.name}}-->
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{player.photo1.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{player.photo1.url}}">
                                        </a>
                                        {% if player.photo2 %}
                                        <a href="{{player.photo2.url}}" class="hidden">
                                            <img class="hidden" src="{{player.photo2.url}}">
                                        </a>
                                        {% endif %}
                                        {% if player.photo3 %}
                                        <a href="{{player.photo3.url}}" class="hidden">
                                            <img class="hidden" src="{{player.photo3.url}}">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'player_detail' player.id %}">{{player.game_id}}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'player_detail' player.id %}">
                                {{player.honor}}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            {% for t in player.team %}
                                <p class="cartype">{{t}}</p>
                            {% endfor %}
                        </div>
<!--                        <div class="pull-right">-->
<!--                            <p class="price">{{ap.position}}</p>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Featured car end -->
{% endblock %}